pre[class*='language-'] {
  color: theme('colors.zinc.100');
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme('colors.amber.400');
}

.token.attr-name,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme('colors.amber.500');
}

.token.keyword,
.token.module {
  color: theme('colors.amber.400');
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme('colors.amber.100');
}

.token.attr-equals {
  color: theme('colors.zinc.100');
}

.token.unit,
.language-css .token.function {
  color: theme('colors.amber.200');
}
.token.parameter,
.token.punctuation,
.token.combinator {
  color: theme('colors.zinc.100');
}

.token.comment {
  color: theme('colors.zinc.500');
}

.token.plain {
  color: theme('colors.amber.100');
}

.token.operator {
  color: theme('colors.zinc.200');
}
